<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <title>Future Traders | Home</title>
  </head>
  <body>
    {{> navbar}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="jumbotron">
            Future Trader's Admin Page - Home
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <div class="form-group">
                <label for="query">Query: </label>
                <input type="query" class="form-control" id="query">
                <!-- <button type="btn btn-default" name="button">Query</button> -->
              </div>
            </div>
            <div class="list-group-item">
              <a href="/query">Result 1</a>
            </div>
            <div class="list-group-item">
              <a href="/query">Result 2</a>
            </div>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
  </body>
</html>
