<!DOCTYPE html>
<html>
  <head>
    {{> head}}
    <title>Future Traders</title>
    <link rel="stylesheet" href="/css/traders.css">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="traders traders-display">
            <h1>Future Traders</h1>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
          <div class="traders traders-navigation">
            <a class="btn btn-default" href="/download">
              Download
            </a>
          </div>
        </div>
        <div class="col-sm-1">
        </div>
      </div>
    </div>
  </body>
</html>
